@tailwind base;

@tailwind components;

.todo-item {
  transition: 0.2s ease-in-out;
  @apply m-0 p-4 flex border-l-4 cursor-pointer mb-1;

  &.active {
    @apply border-orange-500;
  }
  &.completed {
    @apply border-green-400 text-gray-600;
  }
}

.todo-item:hover {
  @apply px-5;
}

@tailwind utilities;

html,
body {
  height: 100%;
}
